{% extends "main/base.html" %}
{% block content %}
<div class="container">
    <br>
    <div class="row justify-content-center">
        <div class="col-sm-12 text-center">
            <h1 class="display-1">Taxi</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-header">
                    Bienvenido Diego
                </div>
                <div class="card-body">
                <button type="button" class="btn btn-primary btn-block">Comprar Boleto Camion</button>

                <a href="/reservas" class="btn btn-primary btn-block">Reservas</a>

                <a href="/historial" class="btn btn-primary btn-block">Listar Historial</a>


                <a href="/perfil" class="btn btn-primary btn-block">Perfil</a>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}