{% extends "main/base.html" %}
{% block content %}
<script>
    var map_global;
function initMap() {
    var map = new google.maps.Map(document.getElementById("map"), {
      center: {lat: 25.65625138, lng: -100.2956101},
      zoom: 16,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      disableDefaultUI: true
    });
    map_global = map;
    //getDirections(map);
}

function moveMarker(map, marker, latlng) {
    marker.setPosition(latlng);
    map.panTo(latlng);
}

function autoRefresh(map, pathCoords) {
    var i, route, marker;

    route = new google.maps.Polyline({
        path: [],
        geodesic : true,
        strokeColor: '#00000',
        strokeOpacity: 1.0,
        strokeWeight: 2,
        editable: false,
        map:map
    });

    marker=new google.maps.Marker({map:map, icon:"http://maps.google.com/mapfiles/ms/micons/red.png"});

    for (i = 0; i < pathCoords.length; i++) {
        setTimeout(function(coords) {
            route.getPath().push(coords);
            moveMarker(map, marker, coords);
        }, 700 * i, pathCoords[i]);
    }
}

function getDirections(map) {
    var directionsService = new google.maps.DirectionsService();

    var request = {
        origin: new google.maps.LatLng(25.65625138, -100.2956101),
        destination: new google.maps.LatLng(25.65122232, -100.28962341),
        travelMode: google.maps.TravelMode.DRIVING
    };
    directionsService.route(request, function(result, status) {
        if (status == google.maps.DirectionsStatus.OK) {
            autoRefresh(map, result.routes[0].overview_path);
        }
    });
}


</script>
<div id="map"></div>

<div class="container">
    <br>
    <div class="row justify-content-center">
        <div class="col-md-6" style="position:absolute; z-index:99;">
                <label class="sr-only" for="inlineFormInputGroup">Direccion</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-map-marker-alt"></i></div>
                  </div>
                  <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Direccion" onchange="getDirections(map_global);">
                </div>
        </div>
    </div>

<!--    <div class="row justify-content-center">
        <div class="col-sm-12 text-center">
            <h1 class="display-1">Taxi</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-header">
                    Bienvenido {{ user.get_full_name }}
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-primary btn-block">Comprar Boleto Camion</button>

                    <a href="/reservas" class="btn btn-primary btn-block">Reservas</a>

                    <a href="/historial" class="btn btn-primary btn-block">Listar Historial</a>


                    <a href="/perfil" class="btn btn-primary btn-block">Perfil</a>

                </div>
            </div>
        </div>
    </div>


</div>
-->
</div>

{% endblock content %}