{% extends "main/base.html" %}
{% block content %}
<div class="container">
    <br>
    <div class="row justify-content-center">
        <div class="col-sm-12 text-center">
            <h1 class="display-1">Historial</h1>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-sm-6 offset-3">
            <div class="card box-shadow h-md-250 text-center">
                <p class="card-header">{{ object.fecha }} - <i class="fas fa-money-bill" style="color:rgb(0, 0, 0);"></i>
                    ${{ object.costo }} </p>
                <div class="card-body">
                    <h1>
                        {{ object.origen }}
                    </h1>
                    <h1>
                        {{ object.destino }}
                    </h1>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}