body {
    background-image: url('img/bg.png');
    background-repeat:   repeat;
}

.top-absolute {
    position:absolute;
    z-index:99;
}

.footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:200px;
}